.body{
    padding: 1000px;
    margin: 100px;
    opacity: 100px;
}
.fundo{
    opacity: inherit;
}

.btn-lg {
    padding: .4rem 4rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}
